<div class="row">
    <div class="col-md-3">
        <h2>Naveed's POC for Azure Queues and Blob Storage</h2>
        <ul>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/createmessage">Create a message into the queue</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/getmessage">Consume a message from the queue</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/createblob">Create a blob into blob storage</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/downloadblob/{blobId}">Download a blob from the blob storage.</a></li>
        </ul>
    </div>
</div>
