
    <div>
        <h2>Naveed's POC for Azure Queues and Blob Storage</h2>
        <ul>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/createmessage">Enqueue a message</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/getmessage">Dequeue a message</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/createblob">Create and upload a blob</a></li>
            <li><a href="https://azurepocwithdotnet.azurewebsites.net/api/v0/downloadblob/b742cabb-4c60-4c8f-9501-a5993a09dd5b/">Download blob</a></li>
        </ul>
    </div>
